<form method="POST" action="/data">
    <label  for="item"> Shit to do bruh</label>
    <input type="text" name="item" placeholder="Describe bro">
    <button type="submit"> ADD SHIT</button>
</form>

